        <!-- Footer Container -->
        {{ partial "foot/container" . }}

        <!-- Common Scripts -->
        {{ partial "script/common" . }}

        <!-- Theme specific script include -->
        {{ partial "script/theme" . }}

        <!-- Custom Scripts -->
        {{ partial "script/custom" . }}

        <!-- Google Analytics -->
        {{ partial "script/analytics" . }}

        <!-- Code highlighting -->
        {{ partial "script/highlight" . }}

        <!-- LaTeX math rendering -->
        {{ partial "script/mathjax" . }}

    </body>
</html>
