<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
  <!-- Include meta tags-->
  {{ partial "head/meta" . }}

  <!-- Include CSS -->
  {{ partial "css/common" . }}
  {{ partial "css/theme" . }}
  {{ partial "css/custom" . }}

  <!-- Include RSS links -->
  {{ partial "head/link-rss" .}}

  <link rel="icon" type="image/png" href="{{ "/img/icon.png" | relURL }}">
  <link rel="apple-touch-icon" type="image/png" href="{{ "/img/apple-touch-icon.png" | relURL }}">

  <link rel="canonical" href="{{ .Permalink }}">

  <!-- Include custom attribute into the header -->
  {{ partial "head/custom" . }}

  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

</head>
<body id="top" data-spy="scroll" data-target="#navbar-main" data-offset="71">
